PORT=3000
DATABASE_URL=sqlite:///data/oilchain.db
REDIS_PORT=6379
REDIS_HOST=127.0.0.1
RPC_URL=http://127.0.0.1:8545
CONTRACT_ADDRESS=
ADMIN_PRIVATE_KEY=
JWT_SECRET=
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# Contranct address dipakai jika ingin menggunakan kontrak yang sudah dideploy, jika ingin menggunakan kontrak yang dibuat dengan hardhat, biarkan kosong saja dan kontrak akan otomatis dideploy saat server dijalankan.
# Admin private key dipakai untuk melakukan transaksi yang membutuhkan otorisasi admin, seperti menambahkan pengguna baru. Jika menggunakan kontrak yang dibuat dengan hardhat, biarkan kosong saja dan private key akan otomatis diambil dari akun pertama yang dibuat oleh hardhat. Jika mau dipakai pakai npx hardhat node.
# JWT secret dipakai untuk menandatangani token JWT yang digunakan untuk otentikasi pengguna. Pastikan untuk mengganti nilai ini dengan string yang kuat dan rahasia sebelum menjalankan aplikasi di lingkungan produksi. Caranya node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"